a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

/*Error messages*/
.error-message {
    color: #6f544e;
}

.error-message p {
    font-size: 20px;
    text-align: center;
}

/*Loader*/
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--colour1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 0 auto 1rem;
}

/*Default search buttons*/
.main-nav ul {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    margin: 0 0;
    padding: 0;
}

.App {
    align-self: center;
}

.main-nav li {
    margin-bottom: 1px;
    width: 100%;
    text-align: center;

}

.main-nav {
    margin: 0 auto;
}

.main-nav a {
    text-decoration: none;
    background-color: var(--colour3) !important;
    border: var(--colour3) !important;
    border-radius: 0 !important;
    --bs-btn-active-color: var(--colour3) !important;
    --bs-btn-active-bg: var(--colour2) !important;
    --bs-btn-active-border-color: var(--colour2) !important;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 20px;
    position: relative;
}

.main-nav a:hover {
    background: var(--colour4) !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
}

@media only screen and (min-width: 768px) {

    .main-nav {
        max-width: none;
    }

    .main-nav ul {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .main-nav li {
        margin: .5rem;
        width: auto;
    }
}

/*Photo container*/
.photo-container ul,
.photo-list ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin: 0 0;
    padding: 0;
    width: 100%;
}

.photo-container li,
.photo-list li {

    height: 200px;
    outline: .35rem var(--colour4);
    overflow: clip;
    position: relative;
    transform-origin: center;
    width: auto;
}

.photo-container img,
.photo-list img {
    width: 88vw;
    height: 88vw;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1.25s;
}

.photo-container li:hover img,
.photo-list li:hover img {
    transform: scale(1.55) translate(-40%, -40%);
}

.photo-container .not-found,
.photo-list .not-found {
    width: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 546px) {

    .photo-container ul,
    .photo-list ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .photo-container img,
    .photo-list img {
        width: 64vw;
        height: 64vw;
    }
}

@media only screen and (min-width: 768px) {

    .photo-container ul,
    .photo-list ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .photo-container img,
    .photo-list img {
        width: 44vw;
        height: 44vw;
    }

}

@media only screen and (min-width: 1024px) {

    .photo-container ul,
    .photo-list ul {
        grid-template-columns: repeat(4, 1fr);
    }

    .photo-container img,
    .photo-list img {
        width: 24vw;
        height: 24vw;
    }
}


/*Search*/
.search {
    display: flex;
    margin: 0 auto 20px;
    max-width: 460px;
}

.search button {
    padding: 0px 15px;
}

.search input {
    background-color: var(--colour2);
    border-radius: .35em 0 0 .35em;
    border: 3px solid #d7dbdf;
    font-size: 1em;
    outline: none;
    padding: 10px 15px;
    width: 100%;
}

.search button:hover {
    background: var(--colour4) !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
}


/*Disclaimer*/
.disclaimer {
    text-align: center;
    color: black;
    height: auto;
    padding: 10px;
}

.disclaimer a {
    color: var(--colour1);
}

/*Results heading*/
mark {
    border-radius: .33rem;
}

.highlight {
    background-color: var(--colour2);

}